/* Danny O'Carroll
   1863459 */

/* Colors
    Flat Chocolate: #A84800
    Brick: #781800
    Lager: #F0D860
   Fonts
    NewRocker

    */
*{
margin:0;
padding:0;
    }
.wrapper {
    margin:0 auto;
    width:960px;
}

body {
    background:linear-gradient(#ffffff,#F0D860);
    background: -moz-linear-gradient(#ffffff, #F0D860); /* For Firefox 3.6 to 15 */
    height: 1000px;
}
.jumbotron {
    width:98%;
    clear:both;
    height:400px;
    border: 4px solid  #A84800;
    border-radius: 20px;
    background-image: url('../img/pumpkinhead.jpg');

}


.jumbotron h1 {
    color:#ffffff;
    font-size: 3em;
    padding-left:2%;
    font-family: 'New Rocker', cursive;
    background: rgba(0, 0, 0, 0.6);
    height:60px;
    width:98%;
    border-radius: 0 0 15px 15px;
    margin-top:340px;

}

.jumbotron img {
    width:100%;

}

.header {
    width:300px;
    display:inline;
    float:left;
    margin-top:0;
}
.leftnavbox {
    width:300px;
    float:left;
    height:50px;
    border-bottom:2px;
    border-top:2px;
    border:solid #A84800;
    border-right:0;
    border-left:0;
    text-align: center;
    margin-right:2%;
    margin-top:6%;

}
.rightnavbox {
    width:300px;
    float:left;
    height:50px;
    border-bottom:2px;
    border-top:2px;
    border:solid #A84800;
    border-right:0;
    border-left:0;
    text-align: center;
    display:inline;
    margin-left:2%;
    margin-top:6%;
}
h1 {
    display: inline;
    float:left;
    color:#781800;
}

ul li {
    display:inline;
    line-height: 50px;
    margin-right:2%;
    font-size: 1.5em;
    font-weight: bolder;
    color:#781800;
}

.bright {
    transition: color linear 1s;
    color:#ffffff;

}

.bright:hover {
    color:orange;
}

a:link, :visited {
    text-decoration: none;
    color:#781800;
    transition: color linear 1s;
}
a .imgbox h1 {
    color:#781800;
    transition: color linear 1s;
}
a .imgbox h1:hover {
    color:orange;
}
a:hover {
    color:#F0D860;
}

.ctabox {
    width:98%;
    padding-top:2%;
    padding-left:4%;
}

.imgbox h1{
   font-family: 'New Rocker', cursive;
   width:100%;
   color:#781800;
   font-size:2em;
   text-align: center;
}


.imgbox img {
    border: 4px solid  #A84800;
    border-radius: 20px;
    width:100%;
    height:150px;
}

.imgbox {
    width:25%;
    display: inline-block;
    margin-left:8%;
    margin-top:2%;
}

.first {
    margin:0;
}

footer {
    margin-top:2%;
    text-align: center;
    width:100%;
    color:#781800;
    font-weight: bolder;
}

.loginbox {
    width:300px;
    background-color:#F0D860;
    height:210px;
    position:absolute;
    z-index: 1;
    top:120px;
    right:250px;
    border: 4px solid  #A84800;
    border-radius: 20px;
    font-family: 'New Rocker', cursive;

}

.form {
    width:100%;
    font-size: 1.5em;
    margin-left:10%;
    margin-top:2%;
    color:#781800;

}

.form input {
    height:1.5em;
}

input[type="submit"] {
    background-color:#781800;
    border-color: #781800;
    border-radius: 10px;
    width:100px;
    height:40px;
    margin-left:8%;
}
input[type="submit"]:hover {
   background-color: #A84800;
   transition: background-color linear 1s;
}

input[value="Login"], input[value="Submit"] {
    font-family: 'New Rocker', cursive;
    font-size: 1em;
    color:#ffffff;
}

.cancel, .signup, .cancelS, .cancelA {
    display:inline;
    margin-left:5%;
    text-decoration: underline;
    color:#000000;
    font-size: 1em;
    line-height: 50px;
    transition: color linear 1s;
}

.cancel:hover, .signup:hover, .cancelS:hover, .cancelA:hover {
    color:#A84800;
}

.signup {
    margin-left:40%;
    margin-top:-5%;
}

.signupbox {
    width:600px;
    background-color:#F0D860;
    height:250px;
    position:absolute;
    z-index: 2;
    top:120px;
    right:425px;
    border: 4px solid  #A84800;
    border-radius: 20px;
    font-family: 'New Rocker', cursive;

}

.strong {
    color:black;
    font-weight: bolder;
    font-size: 2em;
}

input + label {
    margin-left:4%;
}

.leftmargin {
     margin-left:3.6%;
 }

.leftmargin2 {
    margin-left:25%;
}

.gray {
    position:absolute;
    z-index: 1;
    background-color: rgba(0,0,0,.8);
    width:100%;
    height: 1000px;
}

.adminbox {
    width:400px;
    background-color:#F0D860;
    height:150px;
    position:absolute;
    z-index: 2;
    top:120px;
    right:520px;
    border: 4px solid  #A84800;
    border-radius: 20px;
    font-family: 'New Rocker', cursive;

}

.addDelete {
    width: 80%;
    background-color:orange;
    border-color: #781800;
    border-radius: 10px;
    margin-left:10%;
    text-align: center;
    color:#ffffff;
    transition: background-color linear 1s;
}

.addDelete:hover {
    background-color: #781800;
}

.Admin {
    font-family: 'New Rocker', cursive;
    font-size: 2em;
}

.Admin:hover {
    color:black;
}